#elem {
	padding: 20px;
	width: 500px;
	height: 100px;
	border: 1px solid green;
	text-align: justify;
}
#elem1 {
	margin: 40px;
	padding: 20px;
	width: 300px;
	border: 1px solid red;
	text-align: justify;
}