.parent {
	width: 1000px;
	height: 500px;
	border: 1px solid red;
	text-align: justify;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 100px;
}
.child {
	float: left;
	width: 100px;
	height: 75px;
	border: 1px solid green;

}