.parent	{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	width: 1000px;
	height: 500px;
	border: 1px solid red;
}
.child {
	width: 100px;
	border: 1px solid green;
}