.parent	{
	display: flex;
	flex-direction: row-reverse; 
	justify-content: flex-start; 
	width: 1000px;
	height: 500px;
	border: 1px solid red;
}
.child {
	width: 100px;
	height: 75px;
	border: 1px solid green;
}