.parent	{
	display: flex;
	align-items: center;
	width: 400px;
	height: 300px;
	border: 1px solid red;
}
.child {
	margin: 20px auto;
	justify-content: center;
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
.elem {
	align-self: flex-end;
}