.parent {
	width: 2000px;
	border: 1px solid black;
	text-align: justify;
}
.child {
	float: left;
	width: 100px;
	height: 50px;
	margin: 25px;
	border: 1px solid green;
	text-align: center;
}
.clearfix {
	clear: both;
}