#elem1 {
	width: 50px;
	height: 50px;
	border: 1px solid red;
}
#elem2 {
	position: absolute;
	left: 75px;
	top: 8px;
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
#elem3 {
	width: 50px;
	height: 50px;
	border: 1px solid blue;
	position: absolute;
	left: 145px;
	top: 8px;
}