#parent {
	width: 200px;
	height: 250px;
	border: 1px solid red;
}
#child {
	margin-top:    40px;
	margin-right:  30px; 
	margin-bottom: 30px; 
	margin-left:   45px; 
	
	height: 100px;
	width: 100px;
	border: 1px solid green;
}