#elem {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border: 1px solid green;
	text-align: center;
	padding-top: 15px;
	background-color: rgb(214, 214, 1);
	font-size: x-large;
	color: white;
}
#content {
	border: 1px solid rgb(214, 214, 1);
	margin: 80px auto;
	padding: 30px;
	width: 50%;
	text-align: justify;
	font: 16px Arial;
}