#parent {
	width: 200px;
	height: 200px;
	border: 1px solid red;
}
#child {
	margin-top:    45px;
	margin-right:  30px; 
	margin-bottom: 40px; 
	margin-left:   25px; 
	
	height: 100px;
	width: 150px;
	border: 1px solid green;
}