#parent {
	width: 200px;
	height: 150px;
	border: 1px solid red;
}
#child {
	margin-top:    25px;
	margin-right:  30px; 
	margin-bottom: 40px; 
	margin-left:   70px; 
	
	height: 100px;
	width: 50px;
	border: 1px solid green;
}