#elem1 {
	width: 50px;
	height: 50px;
	border: 1px solid red;
}
#elem2 {
	position: absolute;
	left: 40px;
	top: 40px;
	width: 50px;
	height: 50px;
	border: 1px solid blue;
}
#elem3 {
	width: 50px;
	height: 50px;
	border: 1px solid green;
	position: absolute;
	left: 73px;
	top: 73px;
}