.parent	{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	width: 1000px;
	height: 500px;
	border: 1px solid red;
}
.child {
	height: 50px;
	border: 1px solid green;
	margin-bottom: 50px;
}